// Font
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    color: var(--black);
}

// End Font

// Colors
:root {
    --white: #fff;
    --blue: #1e439c;
    --black: #101010;
}

// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// End Global

    // Nav
    .navbar-contents {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 20px;
        min-height: 10vh;

        .navbar {
            max-width: 1440px;
            margin: 0 auto;
            width: 100%;
            border-radius: 10px;
    
            .navbar-brand {
                width: 30%;
    
                img {
                    width: 100px;
                }
            }
    
            .navbar-nav {
                display: flex;
                justify-content: space-between;
                width: 80%;

                @media screen and (max-width: 768px) {
                    text-align: center;
                    width: 100%;
                }
    
                .nav-item {
                    a {
                        color: var(--black);
                        font-size: 1rem;
                        font-weight: 600;
                        border: 2px solid transparent;
                        transition: all .5s ease-in-out;
    
                        &:hover {
                            border-bottom: 2px solid #1e439c;
                            color: var(--blue);
                        }
                    }
    
                    .nav-btn {
                        background-color: var(--blue);
                        padding: 10px 20px;
                        color: var(--white);
                        transition: all .5s ease-in-out;
                        border-radius: 10px;
    
                        &:hover {
                            background-color: var(--black);
                            color: var(--white);
                        }

                        
                        @media screen and (max-width: 768px) {
                            text-align: center;
                            width: 50%;
                            margin: 0 auto;
                        }

                        @media screen and (max-width: 650px) {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    // End Nav

// Header
#hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(/images/hero_2_black.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-contents {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        hr {
            background-color: var(--blue);
            width: 20%;
            height: 10px;
            opacity: 1;

            @media screen and (max-width: 768px) {
                height: 5px;
            }

            @media screen and (max-width: 650px) {
                width: 50%;
            }
        }

        h1 {
            color: var(--white);
            font-weight: 500;
            font-size: 8rem;
            margin: 0;

            @media screen and (max-width: 768px) {
                font-size: 5rem;
            }

            @media screen and (max-width: 650px) {
                font-size: 3.5rem;
            }
        }

        .hauls {
            margin-bottom: 50px;

            @media screen and (max-width: 768px) {
                margin-bottom: 25px;
            }
        }

        a {
            border: 10px solid #1e439c;
            padding: 20px 40px;
            font-size: 2rem;
            color: var(--white);
            transition: all .5s ease-in-out;

            &:hover {
                background-color: #1e439c;
                text-decoration: none;
            }   
            
            @media screen and (max-width: 768px) {
                border: 5px solid #1e439c;
                font-size: 1.5rem;
            }

            
            @media screen and (max-width: 650px) {
                font-size: 1.25rem;
            }
        }
    }
}

#about {
    .about-contents {
        max-width: 1440px;
        width: 100%;
        padding: 40px 20px;
        margin: 0 auto;

        
        h1 {
            text-transform: uppercase;

            @media screen and (max-width: 650px) {
                font-size: 1.5rem;
                text-align: center;
            }
        }

        hr {
            background-color: var(--blue);
            height: 5px;
            width: 250px;
            opacity: 1;

            @media screen and (max-width: 650px) {
                height: 3px;
                width: 150px;
                margin: 20px auto;
            }
        }

        h6 {
            font-weight: 400;
            font-size: 1.2rem;
            margin: 40px auto;

            @media screen and (max-width: 650px) {
                margin: 20px auto;
                text-align: center;
            }

            span {
                color: var(--blue);
                font-weight: 600;
            }
        }

        .cards-container {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 650px) {
                display: block;
            }
            
            .card {
                width: 30%;
                border: none;

                @media screen and (max-width: 650px) {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
    
                img {
                    width: 100%;
                }
    
                .card-body {
                    padding: 10px 0;
                    hr {
                        background-color: var(--blue);
                        width: 25%;
                        height: 5px;

                        @media screen and (max-width: 650px) {
                            width: 150px;
                            height: 3px;
                            margin: 10px auto;
                        }
                    }
    
                    h5 {
                        font-size: 1.5rem;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
    
                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}
// End About

// Services
#services {
    background-color: var(--black);

    .services-content {
        max-width: 1440px;
        width: 100%;
        padding: 40px 20px;
        margin: 0 auto;

        h1 {
            text-transform: uppercase;
            color: var(--white);

            @media screen and (max-width: 650px) {
                font-size: 1.5rem;
                text-align: center;
            }
        }

        hr {
            background-color: var(--blue);
            height: 5px;
            width: 250px;
            opacity: 1;

            @media screen and (max-width: 650px) {
                height: 3px;
                width: 150px;
                margin: 20px auto;
            }
        }

        h6 {
            font-weight: 400;
            font-size: 1.2rem;
            margin: 40px auto;
            color: var(--white);

            @media screen and (max-width: 650px) {
                margin: 20px auto;
                text-align: center;
            }
        }

        .cards-container {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            
            @media screen and (max-width: 650px) {
                display: block;
            }
            
            .card {
                width: 30%;
                border: none;

                @media screen and (max-width: 650px) {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
    
                img {
                    width: 100%;
                }
    
                .card-body {

                    hr {
                        background-color: var(--blue);
                        width: 25%;
                        height: 5px;

                        @media screen and (max-width: 650px) {
                            height: 3px;
                            width: 150px;
                            margin: 10px auto;
                        }
                    }
    
                    h5 {
                        font-size: 1.5rem;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
    
                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}
// End Services


// Contact
#contact {
    // background-color: var(--black);
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-contents {
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 650px) {
            display: block;
            text-align: center;
        }

        .left-side {

            h6 {
                font-weight: 800;
                margin: 10px 0;
                color: var(--blue);
            }

            p {
                margin: 10px 0;

                a {
                    color: var(--black);
                    transition: all .5s ease-in-out;

                    &:hover {
                        color: var(--blue);
                        text-decoration: none;
                    }
                }
            }
        }

        .middle {

            h6 {
                font-weight: 800;
                margin: 10px 0;
                color: var(--blue);
            }

            p {
                margin: 10px 0;

                a {
                    color: var(--black);
                    transition: all .5s ease-in-out;

                    &:hover {
                        color: var(--blue);
                        text-decoration: none;
                    }
                }
            }
        }

        .right-side {
            img {
                width: 100px;
            }
        }
    }
}
// End Contact

// Footer
#footer {
    background-color: var(--black);
    padding: 20px;
    .footer-contents {
        p {
            color: var(--white);
            margin: 0;
            text-align: center;
        }

    }
}
